.container {
  padding: 50px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: fit-content;
}
h1{
  font-size: 3rem;
  font-weight: 600;
  color: #532121;
  margin: 10px;
}
h3{
  font-size: 2rem;
  font-weight: 600;
  color: #532121;
  margin: 10px;
  
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.quantity-minus,
.quantity-plus {
  background-color: #eee;
  border: none;
  cursor: pointer;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px 2px;
  border-radius: 5px;

}
.quantity-minus:hover,
.quantity-plus:hover {
  background-color: #ddd;
  border: none;
  cursor: pointer;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  width: 35px;

}

span {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #131212;

}

.quantity-input {
  margin: 0 10px;
  text-align: center;
  width: 35px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  
  
}


